*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

/*----------------------------------------------------*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(imagens_index/fundo\ do\ site.png);
}

/*----------------------------------------------------*/

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff275;
    height: 100px;
    border-radius: 5px;
    gap: 5px;
    
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin: 0 5px;
    padding: 8px 18px;
    border: 2px solid black;
    border-radius: 20px;
    -webkit-text-stroke: 1px black;
}

nav a:hover{
    background-color: black;
    color: white;
    -webkit-text-stroke: 0px;
}

nav img{
    width: 80px;
    height: 70px;
}

/*--------------------------------------------------*/

.rodape{
    background-color: #fff275;
    margin-top: 40px;
    padding: 30px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 45px;
}

.rodape p{
    text-align: center;
    justify-items:center;
    font-size: 14px;
    position: absolute;
    margin-top: 100px;
    color: #333;
}

.rodape img{
    width: 100px;
    height: 100px;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #fff275;
}

/*--------------------------------------------------*/

#inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1px 1px;
}

#inicio img{
    width: 100%;
}

/*----------------------------------------------------*/

#elementos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 100px;
    padding-bottom: 100px;

}

.icon{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.icon img{
    height: 100px;
    width: 100;    
}

.icon h3{
    font-size: 30px;
    margin-top: 30px;
}

/*---------------------------------------------*/

#produtos{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#subprodutos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 2rem;
}

#subprodutos img{
    width: 220px;
    height: 350px;
    border-radius: 10px;

}

.sub2prod{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff275;
    padding: 20px 20px;
    border-radius: 10px;
    

}

.sub2prod h3{
    font-size: 30px;
}

.sub2prod button{
    height: 40px;
    width: 80px;
    border-radius: 10px;
    background-color: #333;
}

.sub2prod p{
    font-size: 15px;
    color: #e0f2fe;
}

/*-------------------------------------------------*/

#maispedidos{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#submp{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 2rem;
    
}

#submp img{
    width: 220px;
    height: 350px;
    border-radius: 10px;
}

.sub2mp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff275;
    padding: 20px 20px;
    border-radius: 10px;
}

.sub2mp h3{
    font-size: 30px;
}

.sub2mp button{
    height: 40px;
    width: 80px;
    border-radius: 10px;
    background-color: #333;
}

.sub2mp p{
    font-size: 15px;
    color: #e0f2fe;
}

