*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

/*-----------------------------------------------------*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./imagens_index/fundo\ do\ site.png);
}

/*------------------------------------------------------*/

        #menu{
            display: flex;
            width: 100vw;   
            background-color: #FFFAC3 !important;
        }

        #botao{
            background-color: #e0f2fe; 
        }

        #links{
         color: #333;
        }



/*----------------------------------------------------*/

.footer {
            background-color: #FFFAC3;
            border-top: 1px solid #EAEAEA;
            margin-top: 60px;
            padding: 40px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            box-shadow: 0 -10px 15px -5px rgba(49, 44, 44, 0.9);
        }

        .footer .icones {
            display: flex;
            gap: 30px;
        }

        .footer p {
            font-size: 12px;
            color: #999999;
        }

        .footer a img {
            width: 40px;
            height: 40px;
            opacity: 0.7;
        }
/*---------------------------------------------*/

#eu{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#subEu{
    display: flex;
    justify-content: center;  
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

#subEu img{
    border-radius: 50%;
    width: 325px;
    height: 325px;
}

#subEu p{
    text-align: justify;
    font-size: 20px;
}

/*------------------------------------------------*/

#trab{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#subtrab{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2rem;
}

#subtrab img{
    width: 220px;
    height: 350px;
    border-radius: 10px;
}

/*-------------------------------------------------*/

#forma{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#subforma{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2rem;
}

#subforma img{
    width: 300px;
    height: 300px;    
}